<!DOCTYPE html>
<html data-ng-app="slickDemonstration">
<head>
	<title>Slick</title>
	<link rel="stylesheet" href="../bower_components/slick.js/slick/slick.css">
	<link rel="stylesheet" href="../bower_components/slick.js/slick/slick-theme.css">
	<style>
	body{
		background-color:rgba(0,0,0,0.27);
	}
		.container{
			margin:30px;
			height:300px;
			width:300px;
			background-color:blue;
		}
		[td-slick-item]{
			height:200px;
			width:200px;
			margin-top:50px;
			margin-right:50px;
			margin-left:50px;
			background-color:red;
			color:white;
			font-size:30px;
			text-align:center;
			line-height:200px;
		}
		[td-slick-item]:nth-child(even){
			background-color:green;
		}
	</style>
</head>
<body data-ng-controller="Main">
	<div data-ng-if="showStuff">
		<td-slick class="container" slick-options="{arrows: true, dots: true}" slides-to-show="slidesToShow" speed="speed" after-change="afterPage($event, $currentSlide, speed)">
			<div td-slick-item data-ng-repeat="item in [1,2,3,4] track by $index">{{item}}</div>
		</td-slick>

		<input type="number" data-ng-model="speed"> speed
		<br>
		<input type="number" data-ng-model="slidesToShow"> slidesToShow
	</div>

	<button data-ng-click="showStuff = false;">DESTROYYYYY</button>

	<!-- libs -->
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/slick.js/slick/slick.js"></script>

	<!-- angular modules -->
	<script src="scripts/modules/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/directives/slick1.js"></script>
</body>
</html>